<%- include('./component/header.ejs') -%>
    <!--- conttent-->

    <div class="static  mt-10 mx-10">     
       <!-- code here -->
       <div class="flex flex-col">
        <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
          <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
            <div class="overflow-hidden">
              <table class="min-w-full">
                <thead class="bg-gray-100 border-b">
                  <tr>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                      Date
                    </th>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                      Người nhận
                    </th>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                      Sđt
                    </th>                 
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                      Giá trị
                    </th>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                      Chiết khấu(%)
                    </th>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                      Giá đôn
                    </th>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                      Phụ phí
                    </th> 
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                      Tình trạng
                    </th> 
               
                  </tr>
                </thead>
                <tbody>
                  <% 
                    for(let i=0;i<data.length;i++) { 
                      
                      let myDate = new Date(data[i].date*1);
                      %>
                  <tr class=" border-b">
                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%=myDate.getDate()%>/<%=myDate.getMonth()%></td>
                    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                      <%=data[i].name%>
                    </td>
                    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                      <%=data[i].sdt%>
                    </td>
                    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                      <%=data[i].price%>
                    </td>
                    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                      5
                    </td>
                    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                      <%=data[i].price_increase%>
                    </td>
                    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                      <%=data[i].fee%>
                    </td>  
                    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                      <%=data[i].status%>
                    </td>                  
                  </tr>
  
                  <%}%>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
       
       <!-- code here -->
       


       <%- include('./component/footer.ejs') -%>

       </html >
       